
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Index</h1>

<h2>Nhất Nghệ Layout Demo</h2>

@section ABC {
    <div class="list-group">
        <a href="" class="list-group-item">Bia</a>
        <a href="" class="list-group-item">Nước Ngọt</a>
    </div>
}

@{ 
    var danhMuc = new Demo1
    {
        TenDanhMuc = "Cafe",
        SanPham = new string[] { "Highland", "McDonald", "KFC" }

    };
}
@await Html.PartialAsync("_DanhMucdemo1", danhMuc)