<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/MyLayout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header class="bg-danger">
            #HEADER
        </header>
        <nav></nav>
        <div class="row">
            <aside class="col-md-3" id="leftmenu">
                LEFT MENU
                @RenderSection("ABC", required: false)
                @{
                    var danhMuc = new Demo1
                    {
                        TenDanhMuc = "Cafe",
                        SanPham = new string[] { "Highland", "McDonald", "KFC" }

                    };
                }
                @await Html.PartialAsync("_DanhMucdemo1", danhMuc)
            </aside>
            <div class="col-md-9" id="mycontent">
                @RenderBody()
            </div>
        </div>
        <footer class="text-center text-success">
            Bản quyền thuộc về ABC &reg; 2020
        </footer>
        
    </div>
</body>
</html>
