
@model IEnumerable<NhatNghe_Day09.Models.Product>
<div class="card">
    
    <div class="card-body">
        @foreach (var sp in Model)
        {
            <a class="list-group-item">@sp.ProductName</a>
        }
    </div>
</div>
